.App {
  text-align: center;
  margin: auto 30px;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.inputs {
  display: flex;
  gap: 1.5rem;
  margin: 2rem;
}